# Apache2 deployment
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: '{{ meta.name }}-{{ name }}'
  namespace: '{{ meta.namespace }}'
  labels:
    app: '{{ meta.name }}-{{ name }}'
spec:
  replicas: {{ apache2_size }}
  selector:
    matchLabels:
      app: '{{ meta.name }}-{{ name }}'
  template:
    metadata:
      labels:
        app: '{{ meta.name }}-{{ name }}'
    spec:
      containers:
      - image: '{{ apache2_image }}'
        name: '{{ meta.name }}-{{ name }}'
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /var/www/html
          name: html
        - mountPath: /var/moodledata
          name: moodledata
      volumes:
      - name: html
        emptyDir: {}
      - name: moodledata
        emptyDir: {}
