{% set default_name = ansible_operator_meta.name + '-' + name %}
metadata:
  name: '{{ metadata_name | default(default_name) }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app: '{{ metadata_app | default(metadata_name) | default(default_name) }}'
    app.kubernetes.io/name: '{{ metadata_app | default(metadata_name) | default(default_name) }}'
    app.kubernetes.io/instance: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: moodle
    app.kubernetes.io/managed-by: ansible
{% if component | default(false) != false %}
    app.kubernetes.io/component: '{{ component }}'
{% endif %}
{% if runtime | default(false) != false %}
    app.openshift.io/runtime: '{{ runtime }}'
{% endif %}
{% if extra_labels | default(false) != false %}
    {{ extra_labels | indent(width=4) }}
{% endif %}
{% if version | default(false) != false %}
    app.kubernetes.io/version: '{{ version }}'
{% endif %}
{% if (annotations | default(false) != false) or (connects_to | default(false) != false) %}
  annotations:
{% if annotations | default(false) != false %}
    {{ annotations | indent( width=4) }}
{% endif %}
{% if connects_to | default(false) != false %}
    app.openshift.io/connects-to: '{{ connects_to }}'
{% endif %}
{% endif %}
