{% set default_name = meta_name + '-' + name %}
metadata:
  name: '{{ metadata_name | default(default_name) }}'
  namespace: '{{ meta_namespace }}'
  labels:
    app: '{{ metadata_app | default(metadata_name) | default(default_name) }}'
    app.kubernetes.io/name: '{{ metadata_app | default(metadata_name) | default(default_name) }}'
    app.kubernetes.io/instance: '{{ meta_name }}'
    app.kubernetes.io/part-of: moodle
    app.kubernetes.io/managed-by: m4e-operator
{% if inventory_uuid | default(false) != false %}
    {{ cr_group }}/inventory: '{{ inventory_uuid }}'
{% endif %}
{% if component | default(false) != false %}
    app.kubernetes.io/component: '{{ component }}'
{% endif %}
{% if runtime | default(false) != false %}
    app.openshift.io/runtime: '{{ runtime }}'
{% endif %}
{% if cr_version | default(false) != false %}
    app.kubernetes.io/version: '{{ cr_version }}'
{% endif %}
{% if extra_labels | default(false) != false %}
    {{ extra_labels | indent(width=4) }}
{% endif %}
{% if (annotations | default(false) != false) or (connects_to | default(false) != false) or (annotation_inventory_hostvars | default(false) != false)%}
  annotations:
{% if connects_to | default(false) != false %}
    app.openshift.io/connects-to: '{{ connects_to }}'
{% endif %}
{% if annotation_inventory_hostvars | default(false) != false %}
    {{ cr_group }}/inventory_hostvars: '{{ annotation_inventory_hostvars | to_json | indent( width=4) }}'
{% if annotations | default(false) != false %}
    {{ annotations | indent( width=4) }}
{% endif %}
{% endif %}
{% endif %}
