metadata:
  name: '{{ metadata_name | default(meta.name + '-' + name) }}'
  namespace: '{{ meta.namespace }}'
  labels:
    app: '{{ metadata_app | default(metadata_name) | default(meta.name + '-' + name) }}'
    app.kubernetes.io/name: '{{ name }}'
    app.kubernetes.io/instance: '{{ meta.name }}'
    app.kubernetes.io/part-of: moodle
    app.kubernetes.io/managed-by: ansible
{% if component != false %}
    app.kubernetes.io/component: '{{ component }}'
{% endif %}
{% if version != false %}
    app.kubernetes.io/version: '{{ version }}'
{% endif %}
{% if annotations != false %}
  annotations:
    {{ annotations | indent( width=4) }}
{%- endif -%}
