{% macro metadata() %}{% include 'metadata.j2' ignore missing %}{% endmacro %}
completions: 1
parallelism: 1
backoffLimit: 3
activeDeadlineSeconds: 180
# ttlSecondsAfterFinished: 60
template:
  {{ metadata() | indent(width=2) }}
  spec:
    restartPolicy: Never
    initContainers:
{% if moodle_container %}
    - name: '{{ meta.name }}-moodle-app'
      image: '{{ moodle_image }}'
      # Shared volume with main container
      volumeMounts:
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    - name: '{{ meta.name }}-moodle-config'
      image: '{{ php_fpm_image }}'
      command:
        - '/bin/sh'
        - '-c'
        - 'test -f {{ moodle_app }}/config.php || cp -pL {{ moodle_config_path }}/config.php {{ moodle_app }}/config.php'
      volumeMounts:
      - mountPath: {{ moodle_config_path }}
        name: config-php
        readOnly: true
{% if moodle_container %}
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    containers:
    - image: '{{ php_fpm_image }}'
      name: '{{ php_fpm_appname }}'
      env:
      - name: PHP_FPM_listen_allowed_clients
        value: any
      - name: MOODLE_adminpass
        valueFrom:
          secretKeyRef:
            name: {{ php_fpm_secret }}
            key: moodle_new_instance_adminpass
      command:
        - '/bin/sh'
        - '-c'
        - |
          /usr/libexec/check-container -d;
          exit_code=$?;
          if [ $exit_code -eq 2 ];
          then
            {{ moodle_new_instance_cmd }};
          else
            echo "Moodle not instantiated, exit code when checking database: '${exit_code}'";
            exit 1;
          fi
      ports:
      - containerPort: 9000
      readinessProbe:
        exec:
          command: {{ moodle_new_instance_readiness_command }}
      volumeMounts:
      - mountPath: {{ moodle_data }}
        name: moodledata
      - mountPath: {{ moodle_app }}
        name: moodle-app
      - mountPath: {{ moodle_config_path }}
        name: config-php
        readOnly: true
    volumes:
    - name: moodledata
      persistentVolumeClaim:
        claimName: '{{ moodle_data_pvc }}'
    - name: moodle-app
      emptyDir: {}
    - name: config-php
      secret:
        secretName: '{{ php_fpm_secret }}'
        items:
        - key: config_php
          path: config.php
          mode: 0660
