{% macro metadata() %}{% include 'metadata.j2' ignore missing %}{% endmacro %}
schedule: "{{ moodle_cron_schedule }}"
suspend: {{ moodle_cron_suspend }}
concurrencyPolicy: {{ moodle_cron_concurrency_policy }}
successfulJobsHistoryLimit: {{ moodle_cron_success_limit }}
failedJobsHistoryLimit: {{ moodle_cron_failed_limit }}
jobTemplate:
  spec:
    template:
      {{ metadata() | indent(width=6) }}
      spec:
        restartPolicy: Never
{% if php_fpm_security_context %}
        securityContext:
          runAsUser: {{ php_fpm_security_context_runasuser }}
          fsGroup: {{ php_fpm_security_context_fsgroup }}
{% endif %}
{% if moodle_app_container %}
        initContainers:
        - name: '{{ meta_name }}-moodle-app'
          image: '{{ moodle_image }}'
          # Shared volume with main container
          volumeMounts:
          - mountPath: {{ moodle_app }}
            name: moodle-app
{% endif %}
        containers:
        - image: '{{ php_fpm_image }}'
          name: '{{ moodle_cron_container_name }}'
          env:
          - name: PHP_FPM_LISTEN_ALLOWED_CLIENTS
            value: any
          - name: PHP_FPM_PROCESS_CONTROL_TIMEOUT
            value: '{{ php_fpm_process_control_timeout }}'
          args: {{ moodle_cron_args }}
          ports:
          - containerPort: 9000
          readinessProbe:
            exec:
              command: {{ php_fpm_readiness_command }}
{% if moodle_cron_resource_requests or moodle_cron_resource_limits %}
          resources:
{% if moodle_cron_resource_requests %}
            requests:
              cpu: '{{ moodle_cron_resource_requests_cpu }}'
              memory: '{{ moodle_cron_resource_requests_memory }}'
{% endif %}
{% if moodle_cron_resource_limits %}
            limits:
              cpu: '{{ moodle_cron_resource_limits_cpu }}'
              memory: '{{ moodle_cron_resource_limits_memory }}'
{% endif %}
{% endif %}
          volumeMounts:
          - mountPath: {{ moodle_data }}
            name: moodledata
{% if moodle_app_container %}
          - mountPath: {{ moodle_app }}
            name: moodle-app
{% endif %}
          - mountPath: '{{ moodle_app }}/config.php'
            name: config-php
            subPath: config.php
            readOnly: true
        volumes:
        - name: moodledata
          persistentVolumeClaim:
            claimName: '{{ moodle_data_pvc }}'
{% if moodle_app_container %}
        - name: moodle-app
          emptyDir: {}
{% endif %}
        - name: config-php
          secret:
            secretName: '{{ moodle_secret }}'
            items:
            - key: config.php
              path: config.php
