{% macro metadata() %}{% include 'metadata.j2' ignore missing %}{% endmacro %}
completions: 1
parallelism: 1
backoffLimit: 3
activeDeadlineSeconds: 180
# ttlSecondsAfterFinished: 60
template:
  {{ metadata() | indent(width=2) }}
  spec:
    restartPolicy: Never
{% if moodle_app_container %}
    initContainers:
    - name: '{{ meta.name }}-moodle-app'
      image: '{{ moodle_image }}'
      # Shared volume with main container
      volumeMounts:
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    containers:
    - image: '{{ php_fpm_image }}'
      name: '{{ php_fpm_appname }}'
      env:
      - name: PHP_FPM_listen_allowed_clients
        value: any
      - name: MOODLE_adminpass
        valueFrom:
          secretKeyRef:
            name: {{ moodle_secret }}
            key: moodle_new_instance_adminpass
      command:
        - '/bin/sh'
        - '-c'
        - |
          /usr/libexec/check-container-php -d;
          exit_code=$?;
          if [ $exit_code -eq 2 ];
          then
            {{ moodle_new_instance_cmd }};
          else
            echo "Moodle not instantiated, exit code when checking database: '${exit_code}'";
            exit 1;
          fi
      ports:
      - containerPort: 9000
      readinessProbe:
        exec:
          command: {{ moodle_new_instance_readiness_command }}
      volumeMounts:
      - mountPath: {{ moodle_data }}
        name: moodledata
{% if moodle_app_container %}
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
      - mountPath: '{{ moodle_app }}/config.php'
        name: config-php
        subPath: config.php
        readOnly: true
    volumes:
    - name: moodledata
      persistentVolumeClaim:
        claimName: '{{ moodle_data_pvc }}'
{% if moodle_app_container %}
    - name: moodle-app
      emptyDir: {}
{% endif %}
    - name: config-php
      secret:
        secretName: '{{ moodle_secret }}'
        items:
        - key: config.php
          path: config.php
          mode: 0660
