{% macro metadata() %}{% include 'metadata.j2' ignore missing %}{% endmacro %}
replicas: {{ nginx_size }}
selector:
  matchLabels:
    app: '{{ nginx_appname }}'
template:
  {{ metadata() | indent(width=2) }}
  spec:
    terminationGracePeriodSeconds: {{ nginx_term_grace_period }}
{% if nginx_security_context %}
    securityContext:
      runAsUser: {{ nginx_security_context_runasuser }}
      fsGroup: {{ nginx_security_context_fsgroup }}
{% endif %}
{% if moodle_app_container %}
    initContainers:
    - name: '{{ ansible_operator_meta.name }}-moodle-app'
      image: '{{ moodle_image }}'
      # Shared volume with main container
      volumeMounts:
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    containers:
    - image: '{{ nginx_image }}'
      name: '{{ nginx_appname }}'
      env:
        - name: MOODLE_CHECK_HOST
          value: '{{ nginx_host }}'
        - name: PHP_FPM_HOST
          value: '{{ php_fpm_service }}'
      ports:
      - containerPort: {{ nginx_port }}
      args: {{ nginx_args }}
{% if nginx_readiness_probe %}
      readinessProbe:
        exec:
          command: {{ nginx_readiness_command }}
        initialDelaySeconds: {{ nginx_readiness_initial }}
        periodSeconds: {{ nginx_readiness_period }}
        timeoutSeconds: {{ nginx_readiness_timeout }}
        successThreshold: {{ nginx_readiness_success }}
        failureThreshold: {{ nginx_readiness_failure }}
{% endif %}
{% if nginx_liveness_probe %}
      livenessProbe:
        exec:
          command: {{ nginx_liveness_command }}
        initialDelaySeconds: {{ nginx_liveness_initial }}
        periodSeconds: {{ nginx_liveness_period }}
        timeoutSeconds: {{ nginx_liveness_timeout }}
        successThreshold: {{ nginx_liveness_success }}
        failureThreshold: {{ nginx_liveness_failure }}
{% endif %}
{% if nginx_resource_requests or nginx_resource_limits %}
      resources:
{% if nginx_resource_requests %}
        requests:
          cpu: '{{ nginx_resource_requests_cpu }}'
          memory: '{{ nginx_resource_requests_memory }}'
{% endif %}
{% if nginx_resource_limits %}
        limits:
          cpu: '{{ nginx_resource_limits_cpu }}'
          memory: '{{ nginx_resource_limits_memory }}'
{% endif %}
{% endif %}
      volumeMounts:
      - mountPath: {{ moodle_data }}
        name: moodledata
{% if moodle_app_container %}
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    volumes:
    - name: moodledata
      persistentVolumeClaim:
        claimName: '{{ moodle_data_pvc }}'
    - name: moodle-app
      emptyDir: {}
