{% if pvc_name | default(false) %}{% set metadata_name = pvc_name %}{% endif %}
{% if pvc_annotations | default(false) %}{% set annotations = pvc_annotations %}{% endif %}
# {{ name }} persistent volume claim
---
kind: PersistentVolumeClaim
apiVersion: v1
{% include 'metadata.j2' ignore missing %}
{% if pvc_spec != false %}
spec:
  {{ pvc_spec | indent(width=2) }}
{% endif %}
