# {{ name }} secret
---
kind: Secret
apiVersion: v1
{% include 'metadata.j2' ignore missing %}
{% if secret_type != false %}
    type: '{{ secret_type }}'
{% endif %}
{% if secret_data != false %}
data:
  {{ secret_data | indent( width=2, indentfirst=True) }}
{% endif %}
{% if secret_string_data != false %}
stringData:
  {{ secret_string_data | indent( width=2) }}
{% endif %}
