{% macro metadata() %}{% include 'metadata.j2' ignore missing %}{% endmacro %}
replicas: {{ php_fpm_size }}
selector:
  matchLabels:
    app: '{{ php_fpm_appname }}'
template:
  {{ metadata() | indent(width=2) }}
  spec:
    terminationGracePeriodSeconds: {{ php_fpm_term_grace_period }}
{% if php_fpm_security_context %}
    securityContext:
      runAsUser: {{ php_fpm_security_context_runasuser }}
      fsGroup: {{ php_fpm_security_context_fsgroup }}
{% endif %}
{% if moodle_app_container %}
    initContainers:
    - name: 'moodle-app'
      image: '{{ moodle_image }}'
      # Shared volume with main container
      volumeMounts:
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    containers:
    - name: '{{ php_fpm_container }}'
      image: '{{ php_fpm_image }}'
      env:
        - name: PHP_FPM_LISTEN_ALLOWED_CLIENTS
          value: any
        - name: PHP_FPM_PROCESS_CONTROL_TIMEOUT
          value: '{{ php_fpm_process_control_timeout }}'
        - name: MOODLE_CONFIG_DIR
          value: '{{ moodle_config_path }}'
      ports:
      - containerPort: 9000
      imagePullPolicy: IfNotPresent
      args: {{ php_fpm_args }}
{% if php_fpm_readiness_probe %}
      readinessProbe:
        exec:
          command: {{ php_fpm_readiness_command }}
        initialDelaySeconds: {{ php_fpm_readiness_initial }}
        periodSeconds: {{ php_fpm_readiness_period }}
        timeoutSeconds: {{ php_fpm_readiness_timeout }}
        successThreshold: {{ php_fpm_readiness_success }}
        failureThreshold: {{ php_fpm_readiness_failure }}
{% endif %}
{% if php_fpm_liveness_probe %}
      livenessProbe:
        exec:
          command: {{ php_fpm_liveness_command }}
        initialDelaySeconds: {{ php_fpm_liveness_initial }}
        periodSeconds: {{ php_fpm_liveness_period }}
        timeoutSeconds: {{ php_fpm_liveness_timeout }}
        successThreshold: {{ php_fpm_liveness_success }}
        failureThreshold: {{ php_fpm_liveness_failure }}
{% endif %}
{% if php_fpm_resource_requests or php_fpm_resource_limits %}
      resources:
{% if php_fpm_resource_requests %}
        requests:
          cpu: '{{ php_fpm_resource_requests_cpu }}'
          memory: '{{ php_fpm_resource_requests_memory }}'
{% endif %}
{% if php_fpm_resource_limits %}
        limits:
          cpu: '{{ php_fpm_resource_limits_cpu }}'
          memory: '{{ php_fpm_resource_limits_memory }}'
{% endif %}
{% endif %}
      volumeMounts:
      - mountPath: {{ moodle_data }}
        name: moodledata
      - mountPath: {{ moodle_config_path }}
        name: config-php
        readOnly: true
{% if moodle_app_container %}
      - mountPath: {{ moodle_app }}
        name: moodle-app
{% endif %}
    volumes:
    - name: moodledata
      persistentVolumeClaim:
        claimName: '{{ moodle_data_pvc }}'
{% if moodle_app_container %}
    - name: moodle-app
      emptyDir: {}
{% endif %}
    - name: config-php
      secret:
        secretName: '{{ moodle_secret }}'
        items:
        - key: config.php
          path: config.php
