---
# moodle app
moodle_image: quay.io/krestomatio/moodle_app
moodle_state: "{{ state }}"
moodle_appname: "{{ ansible_operator_meta.name }}-moodle"
moodle_app_container: false
moodle_app: /var/www/html
moodle_data: /var/moodledata
moodle_config_path: /config
moodle_host: "{{ fqdn }}"
moodle_protocol: "{{ 'https' if expose_tls else 'http' }}"
moodle_url: "{{ moodle_protocol }}://{{ moodle_host }}"
moodle_config_autosync: true
moodle_secret: "{{ moodle_appname }}-secret"
moodle_new_instance_job: "{{ moodle_appname }}-new-instance-job"
moodle_new_instance_active_deadline_seconds: 900
moodle_new_instance_lang: en
moodle_new_instance_fullname: Demo site
moodle_new_instance_shortname: demo
moodle_new_instance_summary: A demo site
moodle_new_instance_adminuser: admin
moodle_new_instance_adminpass: secret
moodle_new_instance_adminmail: admin@example.com
moodle_new_instance_agree_license: false
moodle_new_instance_cmd:
  php admin/cli/install_database.php
    --lang="{{ moodle_new_instance_lang }}"
    --fullname="{{ moodle_new_instance_fullname }}"
    --shortname="{{ moodle_new_instance_shortname }}"
    --summary="{{ moodle_new_instance_summary }}"
    --adminuser="{{ moodle_new_instance_adminuser }}"
    --adminpass="${MOODLE_adminpass}"
    --adminemail="{{ moodle_new_instance_adminmail }}"
    --agree-license
moodle_new_instance_readiness_command: "['/usr/libexec/check-container-php', '-t', '-c', '-m']"
moodle_cron_schedule: "*/1 * * * *"
moodle_cron_success_limit: 3
moodle_cron_failed_limit: 1
moodle_cron_suspend: "false"
moodle_cron_command: "php ${MOODLE_app}/admin/cli/cron.php"
moodle_cronjob: "{{ moodle_appname }}-cronjob"
moodle_data_pvc: "{{ moodle_appname }}-data"
moodle_data_pvc_size: 1Gi
moodle_pvc_spec: |
  accessModes:
    - 'ReadWriteOnce'
  resources:
    requests:
      storage: '{{ moodle_data_pvc_size }}'
moodle_secret_data: |
  moodle_new_instance_adminpass: '{{ moodle_new_instance_adminpass | b64encode }}'
  config.php: '{{ lookup('template', moodle_config_template) | b64encode }}'
# moodle config.php
moodle_config_dbhost: "{{ postgres_service }}"
moodle_config_dbname: "{{ database_name }}"
moodle_config_dbuser: "{{ database_user }}"
moodle_config_dbpass: "{{ database_password }}"
moodle_config_wwwroot: "{{ moodle_url }}"
moodle_config_dataroot: "{{ moodle_data }}"
# moodle_config_context_cache_max_size: 7500
# moodle_config_dbtype: pgsql
# moodle_config_dblibrary: native
# moodle_config_prefix: "mdl_"
# moodle_config_dbpersist: "false"
# moodle_config_dbsocket: "false"
# moodle_config_dbport: "''"
# moodle_config_dbhandlesoptions: "false"
# moodle_config_dbcollation: "utf8mb4_unicode_ci"
# moodle_config_fetchbuffersize: "100000"
# moodle_config_directorypermissions: "02777"
# moodle_config_admin: "admin"
# moodle_config_defaultblocks_override: "' '"
# moodle_config_xsendfile: "X-Sendfile"
# moodle_config_yuislasharguments: 1
# moodle_config_db_sessions: true
# moodle_config_redis_sessions:
#   session_redis_host: "redis"
#   session_redis_prefix: "m1_"
#   session_redis_auth: "secret"
# moodle_config_sslproxy: true
# moodle_config_profilingenabled:
#   earlyprofilingenabled: 'true'
#   profilingautofrec: '100'
#   profilingincluded: '/*view.php,/*index.php'
#   profilingallowme: 'true'
#   profilingallowall: 'true'
#   profilinglifetime: 1440
#   pathtodot: '/usr/bin/dot'
# moodle_config_localcachedir: /var/moodledata-localcache
# moodle_config_extramemorylimit: 256M
# moodle_config_tool_lockstats: true
# moodle_config_perfdebug: true
# moodle_config_noemailever: true
# moodle_config_forced_plugin_settings:
#   mod_mymod:
#     setting_one: "one"
#     setting_two: 2
# moodle_config_tool_generator_users_password: secret
# moodle_config_additional_cfg:
#    property_name_one: "one"
#    property_name_two: 2
# moodle_config_additional_block: |
#    $CFG->property_name_one = 'value';
#    $CFG->property_name_two = 2;
